<div class="navigation">
  <form action="/dashboard/me" method = "get">
    <input class="button" type="submit" value="Profile">
  </form>
  <form action="/dashboard" method = "get">
    <input class="button" type="submit" value="Dashboard">
  </form>
  <form action="/signout" method = "get">
    <input class="button" type="submit" value="Sign Out">
  </form>
</div>