<form action="/signout" method = "get">
<br>
<input type="submit" value="Sign Out">
</form>
<form action="/home/dashboard/user_profile/" method = "get">
<br>
<input type="submit" value="Profile">

</form>


this is the dashboard
