<h2>Spare Change</h2>
<form action="/login" method="post">
<input type="text" name="username" placeholder="Username">
<br>
<input type="password" name="password" placeholder="Password">
<br><br>
<input type="submit" value="Login">
</form>
<h3>New to Spare Change? Sign up here:</h3>
<form action="/home/signup" method = "get">
<br>
<input type="submit" value="Sign up">
</form>
