<h2>Spare Change</h2>
<form action="">
<input type="string" value="username">
<br>
<input type="string" value="password">
<br><br>
<input type="submit" value="Login">
</form>
<h3>New to Spare Change? Sign up here:</h3>
<form action="">
<br>
<input type="submit" value="Signup">
</form>
