<h2>Sign up with Spare Change</h2>
<form action="/signup" method="post">
<input type="text" name="first_name" placeholder="First Name">
<br>
<input type="text" name="last_name" placeholder="Last Name">
<br>
<input type="text" name="username" placeholder="Username">
<br>
<input type="password" name="password" placeholder="Password">
<br>
<input type="email" name="email" placeholder="E-mail">
<br>
<h4>Housing Organization</h4>
<select name="charity_id">
  <option value="1">Housing First</option>
</select>
<br><br>
<input type="submit" value="Sign up">
</form>
